<!doctype html>
<html>
<head>
  <title>Madlib HTML</title>
  <link rel="stylesheet" href="/static/madlibs.css">
</head>
<body>
    <p>{% block madlibx %} Comment goes here {% endblock %} </p>
    There once was a {{ color }} {{ noun }} sitting in the Hackbright Lab. When {{ person }} went to pick it up, it burst into flames in a totally {{ adjective }} way.
    {% if flavor %}
    Your icecream is so:
        <ul>
            {% for flv in flavor  %}
                <li> {{flv}} </li>
            {%  endfor %}
        </ul>
    {% endif %}
</body>
</html>
