<!doctype html>
<html>
<head>
  <title> Game </title>
</head>
<body>
    Hi {{ person }}, let's play?
<form action="/madlib">
  What's your name? <input type="text" name="person"><br>
  Choose a color: <input type="text" name="color"><br>
  Choose a noun: <input type="text" name="noun"><br>
  Choose an adjective: <input type="text" name="adjective"><br>
  Please choose your favorite flavor:
  <input type="checkbox" name="flavor" value="vanilla">Vanilla
  <input type="checkbox" name="flavor" value="chocolate">Chocolate
  <input type="checkbox" name="flavor" value="strawberry">Strawberry<br>
  <input type="submit" value="Submit">
</form>


</body>
</html>